# Top-most EditorConfig file
root = true

# Global settings for all files
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

# C# specific settings
[*.cs]
indent_size = 4
csharp_space_after_cast = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2022

[*.js]
indent_size = 2

[*.jsx]
indent_size = 2

[*.json]
indent_size = 2

[*.css]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
